#!/usr/bin/env bash

alias cat="bat"
alias diff="diff-so-fancy"
alias find="fd"
alias ll='exa --long --git -a --header --group'

# Recursively delete `.DS_Store` files
alias cleanup="find . -type f -name '*.DS_Store' -ls -delete"

# Print each PATH entry on a separate line
alias path='echo -e ${PATH//:/\\n}'
